body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(images/toronto-moon.jpeg);
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.page-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: centre;
    flex: 1;
}

.container {
    text-align: center;
    padding-top: 175px;
    padding-bottom: 300px;
}

h1 {
    font-family: avenir;
    font-size: 3.5em;
    color: white;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    color: #f0f0f0;
    margin-bottom: 30px;
}

.btn {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #ff0d00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background-color: #9a1212;
}

.footer {
    text-align: center;
    padding: 10px 0;
    color: #ccc;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: absolute;
    bottom: 0;
}